<form>
  <input 
    type="text" 
    [readonly]="chatService.isConnected | async" 
    [(ngModel)]="nickname" 
    name="nickname"
  >
  <button 
    [disabled]="nickname === '' || (chatService.isConnected | async)" 
    (click)="onConnect()">
    Join the chat
  </button>
</form>

<!-- Send a new message -->
<form>
  <input 
    type="text" 
    [disabled]="(chatService.isConnected | async) === false" 
    [(ngModel)]="message" 
    name="message"
    (ngModelChange)="sendTypingMessage()"
  >
  <button 
    [disabled]="message === '' || (chatService.isConnected | async) === false" 
    (click)="processMessage()">
    Send
  </button>
</form>
<ng-container *ngIf="chatters.length">
  <ul>
    <li *ngFor="let chatter of chatters">
      {{ chatter.name }} {{ (chatter.isTyping$ | async) ? 'is typing...' : '' }}
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="incomingMessages.length">
  <div class="chatbox">
    <article [ngClass]="{'chatbox__messages': true, 'my-own-message': message.sender === nickname}" 
      *ngFor="let message of incomingMessages">
      <blockquote>
        {{ message.content }}
      </blockquote>
      <p *ngIf="message.sender !== nickname">From: {{ message.sender}}</p>
      <span>{{ message.date | amTimeAgo }}</span>
    </article>
  </div>
</ng-container>